[submodule "easy-exception"]
	path = dependencies/easy-exception
	url = https://github.com/pcbaecker/easy-exception.git
	branch = master
[submodule "glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
	branch = stable