notifications:
  email:
    recipients:
      - pcbaecker@gmail.com

os: linux
dist: xenial

matrix:
  include:

### Android app
  - name: "Android app"
    language: android
    android:
      components:
        - tools
        - tools
        - platform-tools
        - build-tools-28.0.3
        - android-28
        - extra
        - extra-google-google_play_services
        - extra-google-m2repository
        - extra-android-m2repository
    before_install:
      - echo y | sdkmanager "ndk-bundle"
      - echo y | sdkmanager "platforms;android-28"
      - echo y | sdkmanager "patcher;v4"
    script:
      - cd $TRAVIS_BUILD_DIR/examples/android && ./gradlew assembleDebug
#examples/android/app/build/outputs/apk/debug/
  ### Build emscripten app
  - name: "Emscripten & documentation"
    language: cpp
    os: linux
    dist: xenial
    addons:
      apt:
        packages:
        - doxygen
        - libglew-dev
        - freeglut3-dev
    before_script:
      - mkdir -p $TRAVIS_BUILD_DIR/cmake-build-emscripten
      - docker run -dit --name emscripten -v $TRAVIS_BUILD_DIR:/src trzeci/emscripten:sdk-incoming-64bit bash
    script:
      # Build emscripten
      - docker exec -it emscripten emcmake cmake -Bcmake-build-emscripten -H.
      - sudo cp -r $TRAVIS_BUILD_DIR/examples/resource $TRAVIS_BUILD_DIR/cmake-build-emscripten/examples/resource
      - docker exec -it emscripten make --directory=cmake-build-emscripten

      # Build doxygen
      - mkdir cmake-build-test
      - cd cmake-build-test
      - cmake --target=AnanasGfxDoc ..
      - make AnanasGfxDoc

    before_deploy:
      - mkdir -p $TRAVIS_BUILD_DIR/pages/examples
      - cp -r $TRAVIS_BUILD_DIR/cmake-build-emscripten/examples $TRAVIS_BUILD_DIR/pages/examples
      - cp -r $TRAVIS_BUILD_DIR/cmake-build-test/docs/doc_doxygen/html $TRAVIS_BUILD_DIR/pages
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: $GITHUB_TOKEN
      keep-history: true
      verbose: true
      local-dir: $TRAVIS_BUILD_DIR/pages/examples
      on:
        branch: master

  ### Build and test linux app
  - name: "Linux app"
    language: cpp
    compiler: clang
    services:
      - xvfb
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - libstdc++-7-dev
          - libglew-dev
          - freeglut3-dev
          - libxi-dev
          - libxmu-dev
          - xserver-xorg-video-dummy
          - xpra
          - xvfb
          - xorg-dev
          - opencl-headers
          - libgl1-mesa-dev
          - libxcursor-dev
          - libpulse-dev
          - libxinerama-dev
          - libxrandr-dev
          - libxv-dev
          - libasound2-dev
          - libudev-dev
          - mesa-utils
          - libgl1-mesa-glx
    before_install:
      - sudo add-apt-repository -y ppa:oibaf/graphics-drivers
      - sudo apt-get update -qq -y
      - export DEBIAN_FRONTEND=noninteractive
      - sudo apt-get -yq --force-yes install libgl1-mesa-dev libgl1-mesa-glx mesa-common-dev libglapi-mesa libgbm1 libgl1-mesa-dri libxatracker-dev xvfb
    before_script:
      - mkdir cmake-build-test
      - cd cmake-build-test
      - cmake ..
    script:
      - make
      #Unittest
      - mkdir -p $TRAVIS_BUILD_DIR/test/unittest/user
      - cd $TRAVIS_BUILD_DIR/test/unittest && $TRAVIS_BUILD_DIR/cmake-build-test/test/unittest/AnanasGfxUnitTest
      #Integrationtest
      - cd $TRAVIS_BUILD_DIR/test/integrationtest && $TRAVIS_BUILD_DIR/cmake-build-test/test/integrationtest/AnanasGfxIntegrationTest --logging=none
      #Examples
      - cd $TRAVIS_BUILD_DIR/examples
      - export DISPLAY=':99.0'
      - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      - $TRAVIS_BUILD_DIR/cmake-build-test/examples/AnanasGfxExamples --app-lifetime=3
